<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Encuentros Deportivos</title>
    @Styles.Render("~/Content/BootstrapCSS")
    @Styles.Render("~/Content/AwesomeCSS")
    @Styles.Render("~/Content/NProgressCSS")    
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/CustomCSS")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">      
            <!-- left navigation -->
            @Html.Partial("_LeftNavigation")
            <!-- left navigation -->
            <!-- top navigation -->
            @Html.Partial("_TopNavigation")
            <!-- /top navigation -->               
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>          
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a> &copy; @DateTime.Now.Year - Encuentos Deportivos</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/BootstrapJS")
    @Scripts.Render("~/bundles/NProgressJS")
    @RenderSection("scripts", required: false)    
</body>

</html>
