@model endep.Models.Persona.Persona
@{
    ViewBag.Title = "Roles";
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Roles para el usuario:<small>@Model.Name</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">                       
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Rol</th>
                                    <th>Acción</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Roles.Count; i++)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => Model.Roles[i].Name)</td>
                                        <td>@Html.ActionLink(" ", "Delete", new { userId = Model.UserId, rolId = Model.Roles[i].RolId }, new { @class = "fa fa-close btn btn btn-danger" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p class="text-right">
                            @Html.ActionLink("Agregar Rol", "AddRol", new { userId = Model.UserId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Listar usuarios", "Index", new { }, new { @class = "btn btn-info" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section scripts{ 
    @Scripts.Render("~/bundles/customJS")
}







