@model IEnumerable<endep.Models.Equipo>

@{
    ViewBag.Title = "Inicio";
}

     
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Equipos inscritos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @Html.ActionLink("Ayuda", "Index", "Ayuda")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <a class="btn btn-success" href="@Url.Action("Create", "Equipoes")" target="_self"><i class="fa fa-plus-square"></i> Nuevo</a>                       
                <hr />
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>                                
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td class="text-right">
                                        <a class="btn btn-success btn-sm" href="@Url.Action("Index", "InvitacionUsuarios", new { id = item.EquipoId, nombre = item.Nombre })" target="_self"><i class="fa fa-plus"></i> Adicionar Jugador</a>
                                        <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", "Equipoes", new { id = item.EquipoId })" target="_self" title="Editar"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Details", "Equipoes", new { id = item.EquipoId })" target="_self" title="Detalles"><i class="fa fa-info-circle"></i></a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Equipoes", new { id = item.EquipoId })" target="_self" title="Eliminar"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/customJS")
}
