@model endep.Models.IntegranteEquipo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IntegranteEquipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posicion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posicion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IntegranteEquipoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
