@model endep.Models.RegisterViewModel
@{
    ViewBag.Title = "Crear cuenta";
}

<div class="animate form login_form">
    <section class="login_content"> 
        
        <h4>Crear cuenta</h4>  

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form" }))
                {
                    @Html.AntiForgeryToken()      

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @placeholder = "Primer Nombre" })
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        </div>            
                        
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>         
                        
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar Password" })
                        </div>      
        
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-info" value="Registrarse" />
                        </div>
                        <p class="text-left">
                            @Html.ActionLink("Ya tengo una cuenta", "Login")
                        </p>

            }           
                <div class="clearfix"></div>
                <div class="separator">                   
                    <div>
                        <h1><i class="fa fa-paw"></i> @Html.ActionLink("Encuentros Deportivos", "Index", "Home")</h1>
                        <p><a> &copy; @DateTime.Now.Year - Encuentos Deportivos</a></p>
                    </div>
                </div>            
        </section>
    </div> 
